{{#if msg_success}} <!--Aqui sempre q for usar alguma função ou coisa não existente no html abra e feche como se fosse tags-->
    <div class="alert alert-success">{{msg_success}}</div>
{{/if}}

{{#if msg_error}}
    <div class="alert alert-danger">{{msg_error}}</div>
{{/if}}