<div class="card">
    <div class="card-body">
        <h1>Olá, você recebeu o título de administrador.<br>
        Obrigado por me ajudar a melhorar esse projeto.<br></h1>
        <small>Ass: Matheus</small>
        <p>Curiosidade:</p> <h6>O slug é o link ou id que a sua categoria ou postagem vai receber depois da "/" por exemplo: link da page/f1.<br>
        Por isso não se deve possuir caracteres especiais, nem espaços nem letras maiusculas.</h6>
    </div>
</div>

<div align="center" class="card mt-4">
    <div class="card-body">
        <h3>Oque deseja fazer?</h3>
        <hr>
        <a href="/adm/categorias"><button class="btn btn-success">Área de categorias</button></a>
        <a href="/adm/postagens/"><button class="btn btn-success">Área de postagens</button></a>
    </div>
</div>