<div class="card mt-4" style="border-radius:15px ;">
    <div class="card-body" style="font-family:sans-serif ;">
<h1>{{postagem.titulo}}</h1>
<hr>
<small>Data de publicação: {{postagem.data}}</small><br>
<hr>
{{postagem.conteudo}}
    </div>
</div>